<div class="box12">  
    <a class="back" [routerLink]="['/page3']">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
         class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
          Back to Products
          <!-- <i class ="icon-long-arrow-right"></i> -->
    </a>  
</div><br/>
<div class="container top  shadow-lg bg-white rounder" style="height: 980px;">
    <table style="width: 100%;">
        <th style="padding-left: 2%;">
            Product code
        </th>
        <th style="width: 24%;">
          Description
      </th>
      <th style="width: 5%;">
          Unit
      </th>
      <th style="width: 5%;">
          Cost
      </th>
      <th style="width: 5%; ">
          RSP
      </th>
      <th style="width: 7%;">
          Margin
      </th>
      <th>
          Category
      </th>
      <th>
          Last order
      </th>
      <th style="width: 12%;">
          Order Qty.
      </th>
      <th>
          Action
      </th>
      <tr *ngFor="let product of products">
          <td style="padding-left: 2%;">
          <!-- <td style="padding-left: 2%; border-left: 6px solid" [ngStyle]="{'border-color': product.color}">
              <input type="checkbox" style="zoom: 1.16;"> {{product.code}} -->
              {{product.code}}
          </td>
          <td style="padding-left: 0px;">
              <div class="row">
                  <div class="col-4">
                      <img src="{{product.img}}"  style="width: 94%; height: 98%;" alt="kurkre">
                  </div>
                  <div class="col-8" class="foto-content">
                      {{product.description}}
                  </div>
              </div>
          </td>
          <td style="font-size: 15px; padding-right: 0px;">
              {{product.unit}}
          </td>
          <td style="font-size: 15px; padding-right: 0px;">
              {{product.Cost}}
          </td>
          <td style="font-size: 15px; padding-right: 0px;">
              {{product.rsp}}
          </td>
          <td style="font-size: 15px; padding-right: 0px;">
              {{product.Margin}}
          </td>
          <td style="font-size: 15px; padding-right: 0px;">
              {{product.category}}
          </td>
          <td style="font-size: 15px; padding-right: 0px;">
              {{product.date}}
          </td>
          <td style="font-size: 15px; color: #00a3da; padding-right: 0px;">
            <div style="padding-left: 5%;" class="row">
            <div class="btn btn-outline-danger" (click)="minus()" style="width: 24px; height: 27px; padding: 0px;">
                <!-- <div style="padding-bottom: 2%; max-width: 100%; max-height: 100%;">h</div> -->
                -
            </div>
            <!-- <input type="text" [value]="quantity" style="width: 27px;height: 23px;"> -->
            <div class="text-center" style="width: 19px; height: 27px; background-color:  #ee007f; color: #fff;">{{quantity}}</div>
            <div class="btn btn-outline-danger" (click)="plus()" style="width: 24px; padding: 0px; height: 27px;">+</div>
            </div>
          </td>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" style="color:#ee007f;" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
          </td>
      </tr>
     
    </table><br/>
    
    <button class="btn btn-outline-danger btn-bottom mt-2 bm-2 mr-2" >Add to Basket</button>
    <button class="btn btn-outline-danger mt-2 btn-bottom bm-2 mr-2" >Add to Suggested Products</button>

</div>
